In [1]:
print(123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [4]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [5]:
print('')

In [6]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [7]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [10]:
n = 300
print(n)

300

In [11]:
n = 1000
print(n)

1000

In [12]:
a = b = c = 300
print(a,b,c)

300 300 300

In [13]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [14]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [16]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [18]:
a = 10
b = 20
print(a + b)

30

In [19]:
a = 10
b = 20
print(a + b - 5)

25

In [20]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [21]:
print(10 / 5)

2.0

In [22]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

In [28]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)

print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [29]:
s = 'foo.'
print(s * 4)

foo.foo.foo.foo.

In [26]:
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [27]:
s = 'HacTIV8'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hactiv8
hactiv8
hACtiv8
Hactiv8
HACTIV8

In [30]:
a = ['foo', 'bar', 'baz', 'quz']

print(a)

['foo', 'bar', 'baz', 'quz']

In [34]:
b = ['baz', 'qux', 'bar', 'foo']

print(a == b)

False

In [33]:
a = [21.24, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.24, 'foobar', 3, 4, 'bark', False, 3.14159]

In [35]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[5])

foo
corge

In [37]:
print(a[-1])
print(a[-6])

corge
foo

In [39]:
print(a[2:5])

['baz', 'qux', 'quux']

In [40]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [41]:
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [42]:
print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [43]:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

In [45]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [46]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [47]:
print(t[0])
print(t[-1])

foo
corge

In [48]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
print(s1)

foo

In [50]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [51]:
MLB_team['Kansas City'] = 'Royals'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [54]:
MLB_team['Seattle'] = 'Seahawks'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [55]:
del MLB_team['Seattle']
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Kansas City': 'Royals'}

In [57]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

print(person)

{'fname': 'Hack', 'lname': 'PTP', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [58]:
print(person['fname'])
print(person['lname'])
print(person['children'])
print(person['children'][1])

Hack
PTP
['Ralph', 'Betty', 'Joey']
Betty

In [59]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [60]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [62]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person_age >= 18 and person3_age <= 65)
)
print(someone_is_of_working_age)

True